---
- hosts: localhost
  remote_user: root

  tasks:

    - name: create log dirs or fail trying
      command: bash /opt/site/ansible/create_logs.sh
      tags: ['shell', 'logs']

    - name: install latest pip in virtualenv
      pip:
        name: pip
        state: latest
        virtualenv: '/opt/site/current/venv'
        extra_args: '--log /var/log/pip.log'
      tags: ['pip', 'install']

    - name: install requirements
      pip:
        requirements: /opt/site/current/requirements.txt
        virtualenv: /opt/site/current/venv/
      tags: ['requirements', 'install', 'pip']

    - name: update uwsgi configs
      file:
        src: '/opt/site/current/configs/site_uwsgi.ini'
        dest: '/etc/uwsgi/vassals'
        state: link
        force: yes
      notify: restart nginx
      ignore_errors: yes
      tags: ['uwsgi', 'server']

    - name: update nginx configs
      file:
        src: '/opt/site/current/configs/site_nginx.conf'
        dest: '/etc/nginx/conf.d'
        state: link
        force: yes
      notify: restart nginx
      tags: ['nginx', 'server']

  handlers:
  - name: restart nginx
    command: service nginx restart